<!--FOOTER-->
<footer>
    <!--container -->
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h2 class="mb-4">Doctor<strong>Care</strong></h2>
                <p>©2022 - DoctorCare.</p>
                <p>Todos os direitos reservados.</p>
            </div>
            <div class="icons_container mt-4 col">
                <a href="#"><img src="../../assets/icons/icons8-instagram.svg" alt=""></a>
                <a href="#"><img src="../../assets/icons/icons8-facebook.svg" alt=""></a>
                <a href="#"><img src="../../assets/icons/icons8-youtube.svg" alt=""></a>
            </div>
        </div>
    </div>
</footer>