footer{
    background-color: var(--brand-green);
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

/*credits*/
footer h2{
    font-weight: 400;
}

footer p{
    color: var(--brand-beige);
}

/*icons container*/
footer .icons_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

/*media querry*/
@media (max-width:770px){
    footer .icons_container{
        justify-content: flex-start;
    }
}